<h1> Create an article </h1>

<% if @article.errors.any? %>

  <h2>The following errors prevented the article from getting created</h2>

  <ul>

    <% @article.errors.full_messages.each do |msg| %>

      <li><%= msg %></li>

    <% end %>

  </ul>

<% end %>

<%= form_for @article do |f| %>
  <p>
    <%=  f.label :title  %> <br/>       <!- Esto me crea la entrada del título en el artículo->
    <%=  f.text_field :title  %>
  </p>
  <p>
    <%=  f.label :descriptions  %> <br/>       <!- Esto me crea la entrada del descriptions en el artículo->
    <%=  f.text_area :descriptions  %>         <!- ojo! aquí es area ->
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>