<!-- Todo este código lo he cogido del enlace: http://getbootstrap.com/docs/4.1/components/navbar/#supported-content
el cuál está generándome la barra de navegación de mi App. ¿Por qué lo hago aquí? Si recuerdo, hice un render en
el archivo application.html.erb para que quedara más limpio, ya que ese archivo es más importante y si algo falla en él
aparece en todas las páginas de mi App. -->

<!--                        BARRA DE NAVEGACIÓN DE MI APP                       -->

<nav class="navbar navbar-expand-lg background_blue">
  <!-- Quito la siguiente línea para poner el entorno ruby-->
 <!--  <a class="navbar-brand" id="logo" href="#"> Alpha Blog</a> -->
  <!-- Ahora, mediate un entorno ruby pongo el link -->
  <%= link_to "Alpha blog", root_path, class: "navbar-brand", id:"logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>  -->
      <li class="nav-item">
        <!--<a class="nav-link" href="#">Link</a> Le añado la clase al final porque ruby no lo interpreta.-->
        <%= link_to "Articles", articles_path, class:"nav-link" %>
        <li>
        <%= link_to "Users", users_path, class:"nav-link" %>
      </li>
      <% if logged_in? %>   <!-- Ahora una restricción, si está registrado entonces se verá-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="#"> New Article </a> -->
              <%= link_to "New Article", new_article_path, class:"dropdown-item" %>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        <% end %>
      </ul>
     <form class="form-inline my-2 my-lg-0 listing">
      <li class="nav-item">
        <% if logged_in? %>
        <!-- TODO ESTO ES EL BOTON DE PROFILE-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Your Profile <%= "Admin" if current_user.admin? %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Edit your profile", edit_user_path(current_user), class:"dropdown-item" %>
              <%= link_to "View your profile", user_path(current_user), class:"dropdown-item" %>
            </div>
          </li>
        <!-- ESTE ES EL BOTON DE LOG OUT-->
          <%= link_to 'Log out', logout_path, method: :delete, class:"nav-link" %> <!-- Log out de la barra de navegación-->
        <% else %>
          <li>
            <%= link_to 'Log in', login_path,  class:"nav-link" %> <!-- Log out de la barra de navegación-->
          </li>
          <%= link_to 'Sign up', signup_path, class:"nav-link" %> <!-- Log out de la barra de navegación-->
        <% end %>
      </li>
    </form>
  </div>
</nav>